nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    gap: 0.5rem;
    padding: 1.2rem 0.2rem;
    position: fixed;
    bottom: 0.5rem;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    border-radius: 4rem;
    backdrop-filter: blur(1rem);
    z-index: 2;
}

nav a {
    background: transparent;
    padding: 1rem;
    display: flex;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}